<h1> Heroine Name: <%= @heroine.name %> </h1>

<div> Heroine Super Name: <%= @heroine.super_name %></div><br>

<div> Heroine Super Power: <%= link_to(@heroine.power.name, power_path(@heroine.power)) %></div>
