<h2>SHOW PAGE of HERIONE</h2>

<%# TODO: use text_area text_field to refactor the look%>
<ul>
<h3>
  name: <%= @heroine.name %> <br>
  supername: <%= @heroine.super_name %> <br>
  power: <%= link_to @heroine.power.name, power_path %>

</h3>
</ul>
